<!DOCTYPE HTML>
<html>
<head>
{% load staticfiles %}
<title>{% block title %} BOOKPARK {% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/materialize.min.css'%}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>body{
  background-color:#e0e0e0 ;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}
main {
  flex: 1 0 auto;
}

.page-footer{
  height:150px
}
</style>
</head>
<body>

<nav>
  <div class="nav-wrapper">
    <a href="{% url 'home' %}" class="brand-logo left">BookPark</a>
    <ul id="nav-mobile" class="right hide-on-small-only">
      <li><a href="#">{% if request.user.is_authenticated %} Welcome,  {{ request.user.username }} {% endif %}</a></li>
      <li><a href="{% url 'index' %}">Store</a>
      {% if request.user.is_authenticated %}
      <li><a href="{% url 'cart' %}">Cart</a></li>
      {% endif %}
      <li>
        {% if not request.user.is_authenticated %}
        <a href="{% url 'auth_login' %}">Login</a>
        {% else %}
        <a href="{% url 'auth_logout' %}">Logout</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
<main>
{% block body %}
<section class="cover">
    <div class="container-fluid content-main">
        <div class="parallax">
            <div class="row">
            </div>
                <div class="col-md-10 col-md-offset-1 col-sm-12 maincontent">
                    <div style="text-align:center;" class="greeting">
                        <h3>Welcome to the best online Bookstore!</h3></div>
                    {% for book in books %}
                    <div class="storefront_book_display jumbotron">
                        <a href="{% url 'book_details' book.id %}">
                            <img src="/media/books/empty_cover.jpg" width="80px" height="150px" class="bookimage">
                            <span class="storefront_book_title">{{ book.title }}</span>
                            <span class="storefront_book_author">{{ book.author }}</span>
                        </a>
                        {% if request.user.is_authenticated %}
                        <span class="storefront_add_to_cart">
                                        <a href="{% url 'add_to_cart' book.id %}" class="btn btn-success">Add To Cart</a>
                                    </span> {% endif %}
                    </div>
                    {% endfor %}
                </div
            </div>
        </div>
    </div>
</section>
{% endblock %}
</main>
<footer class="page-footer">
       <div class="container">
         <div class="row">

             <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
           

         </div>
       </div>
       <div class="footer-copyright">
         <div class="container">
         © 2017 Copyright Text
         </div>
       </div>
     </footer>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
{%block js%}
{%endblock js%}
</body>
</html>
